<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory suffix=".php">./tests/</directory>
				<directory suffix=".php">./templates/</directory>
				<file>./lib/adapters/class-searchpress.php</file>
				<file>./lib/adapters/class-wp-com.php</file>
				<file>./lib/autoload.php</file>
				<file>./lib/trait-singleton.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
