#es-admin-search-bar .button {
	font-size: 24px;
    line-height: 24px;
    height: 37px;
}

#es-admin-search-input {
    font-size: 24px;
    width: 600px;
    max-width: 100%;
}

#es-admin-search-results #thumbnail {
	width: 100px;
}

#es-admin-search-results #post_type {
	width: 10%;
}

#es-admin-search-results, #es-admin-facets {
	display: table-cell;
	vertical-align: top;
}

#es-admin-facets {
	width: 250px;
	padding-right: 15px;
}

#es-admin-facets h2 {
	margin-top: 50px;
}

#es-admin-facets h3 {
	margin-bottom: 0.5em;
}

#es-admin-facets ol {
	list-style: none;
	margin: 0 0 1em;
}
